<%- include('../includes/head.ejs') %>

<body>
	<%- include('../includes/nav.ejs') %>

	<section class="welcome">
		<% if(errorMessage) { %>
		<div class="error-msg"><p><%= errorMessage %></p></div>
		<% } %>
		<h2>Log In</h2>
		<form class="form" action="/login" method="POST">
			<div class="form-control">
				<label for="email">Email</label>
				<input class="<%= validationErrors.find(e => e.param ===
				"password") ? 'invalid': '' %>" type="text" name="email"
				id="email" value="<%= oldInput.email%>" />
			</div>
			<div class="form-control">
				<label for="password">Password</label>
				<input type="password" name="password" id="password" />
			</div>
			<button class="btn auth-btn" type="submit">Login</button>
		</form>
	</section>
	<script src="/js/ui.js"></script>
</body>
