<%- include('../includes/head.ejs') %>

<body>
	<%- include('../includes/nav.ejs') %>
</body>

<section class="welcome">
	<% if(errorMessage) { %>
	<div class="error-msg"><p><%= errorMessage %></p></div>
	<% } %>
	<h2>Sign Up</h2>
	<div class="signup">
		<form action="/signup" method="POST" novalidate>
			<div class="form-control">
				<label for="email">Email</label>
				<input
					type="email"
					name="email"
					id="email"
					value="<%= oldInput.email %>"
				/>
			</div>
			<div class="form-control">
				<label for="username">Username</label>
				<input
					type="text"
					name="username"
					id="username"
					value="<%= oldInput.username%>"
				/>
			</div>
			<div class="form-control">
				<label for="password">Password</label>
				<input
					type="password"
					name="password"
					id="password"
					value="<%= oldInput.password%>"
				/>
			</div>
			<div class="form-control">
				<label for="confirmPassword">Confirm Password</label>
				<input
					type="password"
					name="confirmPassword"
					id="confirmPassword"
					value="<%= oldInput.confirmPassword%>"
				/>
			</div>
			<button class="btn auth-btn" type="submit">Sign Up!</button>
		</form>
	</div>
</section>
