<%- include('./includes/head.ejs') %>
<body>
	<div class="main-container">
		<div class="body-minus-footer">
			<%- include('./includes/nav.ejs') %>
			<section class="welcome">
				<h2 class="category-title <%= category %>"><%= category %></h2>
				<p>Click on a quiz below to get started</p>
			</section>
			<section class="quiz-list-main">
				<% for (let quiz of quizzes) { %>
				<a href="/quizzes/<%= quiz._id %>">
					<div class="quiz-card">
						<div class="quiz-card-content">
							<div class="quiz-card-title <%= quiz.category %>">
								<h2><%= quiz.title %></h2>
							</div>
							<div class="quiz-card-desc">
								<p><%- quiz.description%></p>
								<br />
								<p class="quiz-card-onhover">Take the Quiz!</p>
							</div>
						</div>
					</div>
				</a>
				<% } %>
			</section>
			<%- include('./includes/pagination.ejs')%>
		</div>
		<footer>
			<p>Website created by <a href="#">David Williamson</a></p>
		</footer>
	</div>
	<script src="/js/ui.js"></script>
</body>
