<%- include('./includes/head.ejs') %>

<body>
	<%- include('./includes/nav.ejs') %>

	<section class="welcome">
		<h2><%= quiz.title %></h2>
		<p><%= quiz.description%></p>
		<p>
			Created By:
			<a href="/user/<%= userId %>"><%= username %></a>
		</p>
	</section>

	<section class="quiz">
		<div class="quiz-template-container">
			<div class="table-quiz-container">
				<table class="table-quiz">
					<tr>
						<th>#</th>
						<%if(quiz.qList.length > 0){%>
						<th>Question</th>
						<%}%>
						<th>Answer</th>
					</tr>
					<% for(let i = 0; i < quiz.aList.length; i++) { %>
					<tr>
						<td><%= i + 1%></td>
						<%if(quiz.qList.length > 0){%>
						<td><%= quiz.qList[i]%></td>
						<%}%>
						<td class="answer-cell">
							<span class="answer-cell-text"
								><%= quiz.aList[i]%></span
							>
						</td>
					</tr>
					<% } %>
				</table>
			</div>
			<div class="quiz-input-container">
				<div class="quiz-input-card quiz-start">
					<div class="quiz-timer">
						<span class="min-left"><%=quiz.time%></span>:<span
							class="sec-left"
							>00</span
						>
					</div>

					<h3>Start Quiz</h3>
					<br />
					<div class="btn start-quiz-btn">Click to Start</div>
				</div>
				<div class="quiz-input-card quiz-during">
					<div class="quiz-timer">
						<span class="min-left" id="minutes-left"
							><%=quiz.time%></span
						>:<span class="sec-left" id="seconds-left">00</span>
					</div>
					<input
						id="answer-input"
						type="text"
						placeholder="Enter Answer here"
					/>
					<br />
					<div class="quiz-score during-score">
						<p>
							<span class="total-correct-during">0</span> /
							<span class="total-questions"
								><%= quiz.aList.length%></span
							>
						</p>
					</div>
					<br />
					<div class="already-guessed">
						<p>Already Guessed!</p>
					</div>
					<br />
					<div class="btn during-quiz-btn">End Quiz?</div>
				</div>
				<div class="quiz-input-card quiz-end">
					<h3>Quiz Finished!</h3>
					<br />
					<div class="quiz-score end-score">
						<p>
							You scored
							<span class="total-correct-end"> 0</span>
							/
							<span class="total-questions"
								><%= quiz.aList.length%></span
							>
						</p>
						<input
							id="quiz-id"
							type="hidden"
							value="<%= quiz._id %>"
						/>
						<input
							id="quiz-user"
							type="hidden"
							value="<%= userId %>"
						/>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="/js/quiz-template.js"></script>

	<!-- <%- include('./includes/end.ejs') %>  -->
</body>
