<%- include('./includes/head.ejs') %>

<body>
	<%- include('./includes/nav.ejs') %>

	<section class="welcome">
		<p><%= user.username %></p>
	</section>

	<section class="main">
		<% for (let quiz of quizzes) { %>
		<a href="/quizzes/<%= quiz._id %>">
			<div class="quiz-card">
				<div class="quiz-card-content">
					<div class="quiz-card-title">
						<h2><%= quiz.title %></h2>
					</div>
					<div class="quiz-card-onhover">
						<p class="quiz-card-info"><%- quiz.description%></p>
						<br />
						<p class="quiz-card-prompt">Take the Quiz!</p>
					</div>
				</div>
			</div>
		</a>
		<% } %>
	</section>
	<%- include('./includes/pagination.ejs') %>
</body>
