<%- include('./includes/head.ejs') %>

<body>
	<%- include('./includes/nav.ejs') %>

	<section class="welcome">
		<p>Here are all the quizzes you've created!</p>
	</section>

	<section class="user-quiz-list">
		<% for (let quiz of quizzes) { %>
		<li>
			<a href="/quizzes/<%= quiz._id %>"> <%= quiz.title %> </a>
			<input
				class="input-id"
				type="hidden"
				name="quizId"
				value="<%= quiz._id%>"
			/>
			<button class="btn" type="button" onclick="deleteQuizPrompt(this)">
				Delete
			</button>
		</li>
		<% } %>

		<div class="delete-quiz-card">
			<h3>
				Are you sure you want to delete? <br />
				This quiz and all associated data will be deleted permanently.
			</h3>
			<div class="btn-container">
				<button class="btn" type="button" onclick="deleteProduct(this)">
					Delete
				</button>
				<button
					class="btn"
					type="button"
					onclick="deleteQuizPromptCancel()"
				>
					Cancel
				</button>
			</div>
		</div>
	</section>

	<%- include('./includes/pagination.ejs') %>
	<script src="/js/delete-quiz.js"></script>
	<script src="/js/ui.js"></script>
</body>
