<%- include('./includes/head.ejs') %>

<body>
	<div class="main-container">
		<div class="body-minus-footer">
			<%- include('./includes/nav.ejs') %>
			<main>
				<div class="welcome">
					<h2>Here are all the quizzes you've created!</h2>
				</div>

				<div class="user-quiz-list">
					<% for (let quiz of quizzes) { %>
					<li>
						<a href="/quizzes/<%= quiz._id %>">
							<%= quiz.title %>
						</a>
						<input
							class="input-id"
							type="hidden"
							name="quizId"
							value="<%= quiz._id%>"
						/>
						<button
							class="btn auth-btn"
							type="button"
							onclick="deleteQuizPrompt(this)"
						>
							Delete
						</button>
					</li>
					<% } %>

					<div class="delete-quiz-card">
						<h3>
							Are you sure? <br />
							<span
								>This quiz and all associated data will be
								deleted permanently</span
							>.
						</h3>
						<div class="btn-container">
							<button
								class="btn auth-btn btn-red"
								type="button"
								onclick="deleteProduct(this)"
							>
								Delete
							</button>
							<button
								class="btn auth-btn"
								type="button"
								onclick="deleteQuizPromptCancel()"
							>
								Cancel
							</button>
						</div>
					</div>
				</div>
			</main>
			<%- include('./includes/pagination.ejs') %>
		</div>
		<footer>
			<p>Website created by <a href="#">David Williamson</a></p>
		</footer>
	</div>
	<script src="/js/delete-quiz.js"></script>
	<script src="/js/ui.js"></script>
</body>
